@import "styles.less";

body {
  font-size: 1.2rem;
  font-family: @bodyFont;
  background-color: lighten(@dividerColor, 21%) !important;
}

.md-progress.main {
  position: absolute;
  width: 100%;
}

#app-router {
  padding: 10px;
}

.content.md-card {
  max-width: 920px;
  margin: 0 auto;
  
  h2 {
    margin: 0;
  }
  
  .md-card-content {
    font-size: 1.2rem;
  }
}

.tc {
  text-align: center;
}

.max-form {
  max-width: 600px;
  margin: 0 auto;
}

.header-button {
  float: right;
  padding: 0 0 20px 20px;
  
  .md-accent {
    color: @textPrimaryColor !important;
  }
}

.navbar {
  img {
    height: 26px;
    padding-right: 5px;
  }
  
  > a {
    display: flex;
    flex: 1;
    color: @textInverted !important;
  }
}

footer {
  .tc;
  font-size: 80%;
  margin: 30px 0;
}
