<!DOCTYPE html>{% load static %}
<html>
  <head lang="en-us">
    <!--Release: {{ release }}-->
    <title>Codacation ⋅ Coding Education via Git Workflows</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    
    <link rel="stylesheet" href="{% static "dist/coda.css" %}">
  </head>
  <body>
    <div id="app">
      <md-toolbar class="md-dense navbar">
        <a href="/">
          <img src="{% static "img/code-break.png" %}" alt="">
          <h2 class="md-title" style="flex: 1">Codacation</h2>
        </a>
        <!--<md-button class="md-icon-button">-->
        <!--  <md-icon>favorite</md-icon>-->
        <!--</md-button>-->
      </md-toolbar>
      <md-progress v-if="loading" class="md-accent main" md-indeterminate></md-progress>
      <div id="app-router">
        <router-view></router-view>
      </div>
    </div>
    <footer>
      Release: {{ release }}
    </footer>
    {% for tpl in templates %}
    <script type="text/x-template" id="tpl-{{ tpl.path }}">{{ tpl.content | safe }}</script>
    {% endfor %}
    
    <script>
      var SETTINGS = {
        BASE_URL: '{{ request.scheme }}://{{ request.get_host }}'
      }
    </script>
    {% if debug %}
    <script src="{% static "axios.js" %}"></script>
    <script src="{% static "vue.js" %}"></script>
    <script src="{% static "vue-router.js" %}"></script>
    <script src="{% static "vuex.js" %}"></script>
    {% else %}
    <script src="{% static "axios.min.js" %}"></script>
    <script src="{% static "vue.min.js" %}"></script>
    <script src="{% static "vue-router.min.js" %}"></script>
    <script src="{% static "vuex.min.js" %}"></script>
    {% endif %}
    
    <script src="{% static "vue-material.js" %}"></script>
    
    <script src="{% static "dist/main.js" %}"></script>
  </body>
</html>